@rendermode InteractiveWebAssembly

@page "/"

<PageTitle>dlTube</PageTitle>

<!-- Title -->
<h1 class="meta-section fw-bold text-center">Download YouTube</h1>

<!-- Divider -->
<div class="divider"></div>

<!-- Stream Image -->
<div class="meta-section stream-image-wrapper">
    <img class="stream-image" src="@_imageUrl" alt="Stream Image"/>
</div>

<!-- Stream Title -->
<div class="meta-section text-center">
    <span class="title">@_streamTitle</span>
</div>

<!-- Loading Circle -->
<div class="meta-section loading-container @_loaderCss">
    <div class="loading-circle"></div>
</div>

<!-- Download Section -->
<div class="download-section">
    
    <!-- Link Input -->
    <div class="mb-3">
        <input disabled="@_isLoading" class="form-control" @bind="_youtubeLink" @oninput="OnNewLink" type="text" placeholder="Youtube Link..."/>
    </div>
    
    <!-- Stream Types -->
    <div class="mb-3">
        <select disabled="@_isLoading && @_hasStream" class="form-control" bind="_selectedStreamType">
            @foreach ( string option in _streamTypeNames )
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>

    <!-- Stream Qualities -->
    <div class="mb-3" >
        <select disabled="@GetStreamTypeDropdownDisabled()" class="form-control" bind="_selectedStreamQuality">
            @foreach ( string option in _streamQualities )
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>

    <!-- Submit Button -->
    <div class="mb-3">
        <button disabled="@_isLoading" class="form-control" @onclick="@( async () => await OnSubmit() )">@_submitButtonText</button>
    </div>
    
    <!-- Alert Message -->
    <div class="alert alert-message @_alertCss">
        <div class="text-dark">
            @_alertMessage
        </div>
        <button class="btn ms-2 text-dark @_alertButtonCss" @onclick="CloseAlert">
            <i class="fa fa-x text-dark"></i>
        </button>
    </div>
</div>

<!-- Divider -->
<div class="divider mb-4"></div>

<!-- Token Input -->
<div class="token-section m-0 p-0">
    <div class="token-section mb-3">
        <span class="title m-0 mb-4">Api Token</span>
        <input disabled="@_isLoading" class="form-control" id="ApiToken" type="text" value="@_token" placeholder="Token..." @oninput="OnNewToken"/>
    </div>
    <div>
        <button disabled="@GetApiButtonDisabled()" class="form-control" @onclick="@(async () => await TrySaveToken())">Save</button>
    </div>
</div>